.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
.menu-container {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: $title-text-color-second;
  font-size: 20px;
  &.is-open {
    display: block;
  }
  @media screen and (max-width: 767px) {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    .site-nav {
      display: flex;
    }
  }
}

.site-nav .link {
  position: relative;
  display: block;
  padding-bottom: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $title-text-color;
  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    display: block;
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.site-nav .link::after {
  content: " ";
  position: absolute;
  display: block;
  left: 25%;
  width: 50%;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
.site-nav .link:hover::after,
.site-nav .link:focus::after {
  opacity: 1;
}
.site-nav .studio-link {
  color: $accent-color;
  opacity: 1;
}
.site-nav .studio-link::after {
  content: " ";
  position: absolute;
  left: 25%;
  width: 50%;
  display: block;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
.site-nav .studio-link:hover::after,
.site-nav .studio-link:focus::after {
  opacity: 1;
}
.site-nav .portfolio-link {
  color: $accent-color;
  opacity: 1;
}
.site-nav .portfolio-link::after {
  content: " ";
  position: absolute;
  left: 25%;
  width: 50%;
  display: block;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.site-nav .portfolio-link:hover::after,
.site-nav .portfolio-link:focus::after {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .site-nav .item + .item {
    margin-left: 50px;
  }
}
/*.site-nav .link {
  display: block;
  position: relative;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover::after,
.site-nav .link:focus::after {
  opacity: 1;
}
.site-nav .studio-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .studio-link:hover::after,
.site-nav .studio-link:focus::after {
  opacity: 1;
}
.site-nav .portfolio-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .portfolio-link:hover::after,
.site-nav .portfolio-link:focus::after {
  opacity: 1;
}*/
