.join-us {
  margin-bottom: 60px;
}
.join-us .title {
  display: block;
  margin-bottom: 21px;
  text-transform: uppercase;
  color: $title-text-color-second;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
}

.socials-footer {
  display: flex;
  justify-content: center;
  & .link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: $accent-color;
    }
  }
}

.cosials-icon {
  fill: #ffffff;
}
