.team-section {
  background: $background-second;
}
.team-list {
  display: flex;
  margin: -15px;
  text-align: center;
  & .item {
    width: 270px;
    margin: 15px;
    background-color: #ffffff;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
  & .foto {
    margin-bottom: 30px;
  }
  & .title {
    margin-top: 0px;
    margin-bottom: 10px;
    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
  }
  & .text {
    margin-top: 0;
    margin-bottom: 16;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
  }
}
